body {
    font-family: Arial, sans-serif;
    background-color: #3AA6B9;
    justify-content: center;
    align-items: center;
    margin: 50px 50px 20px;
}

/* gugus furz */

header {

    font-size: 1.5em;
    background-color: white;
    border-radius: 20px;
    height: 80px;
    text-align: center;
}

header ul {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
    list-style: none;
}

header li a {
    margin-right: 20px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: 0.2s;
    padding: 20px;
    color: #00ABE1;
}

header li a:hover {
    color: white;
    background-color: #FF9EAA;
    border-radius: 10px;
    padding: 22px;
    font-size: 1.4em;
}

.container, h1, .grid {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
}

.card .info {
    padding: 15px;
}

.card h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card p, .card a {
    color: #764949;
    text-decoration: none;
}
